
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1494773204534'); /* IE9*/
  src: url('iconfont.eot?t=1494773204534#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1494773204534') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1494773204534') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1494773204534#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianhua:before { content: "\e62e"; }

.icon-chaxun:before { content: "\e640"; }

.icon-weixin:before { content: "\e60e"; }

.icon-3:before { content: "\e617"; }

.icon-kefu:before { content: "\e69c"; }

.icon-jisuanqi:before { content: "\e601"; }

.icon-jijian:before { content: "\e9aa"; }

.icon-zhuizong-:before { content: "\e7bf"; }

